/* @media print {
    body * {
        visibility: hidden;
    }

    .receipt-print-area,
    .receipt-print-area * {
        visibility: visible;
    }

    .receipt-print-area {
        position: absolute;
        left: 100;
        top: 20;
        width: 100%;
    }
} */

/* receipt.css */

.receipt-print-area {
    width: 70mm;
    margin: 0 auto;
    font-family: monospace;
    font-size: 12px;
    color: black;
}

.receipt-print-area table {
    width: 100%;
    border-collapse: collapse;
}

.receipt-print-area th,
.receipt-print-area td {
    border: 1px solid black;
    padding: 2px;
    text-align: center;
}

.receipt-print-area td:first-child,
.receipt-print-area td:nth-child(2) {
    text-align: left;
}

@media print {
    body {
        margin: 0;
        padding: 0;
    }

    .receipt-print-area {
        width: 70mm;
        page-break-after: avoid;
    }

    @page {
        size: 70mm auto;
        margin: 0;
    }
}