/* Invoice Cards */
.invoice-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.card h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.card .stat {
    font-size: 24px;
    font-weight: bold;
    color: #f07c54;
}

.card .compare {
    font-size: 13px;
    color: #999;
}

.vertical-layout {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.invoice-section {
    width: 100%;
    /* padding: 20px 0;  */
}